<h1 class="display-1">{{ heading }}</h1>


<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div class="row">
    <div class="mb-2 col-lg-6">
      <div class="row">
        <label for="horseName" class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Name
        </label>
        <div class="col-md-10 col-lg-8">
          <input
            type="text"
            id="horseName"
            name="horseName"
            placeholder="Horse name"
            class="form-control"
            [class]="dynamicCssClassesForInput(horseNameModel)"
            [(ngModel)]="horse.name"
            [disabled]="modeIsDetail"
            #horseNameModel="ngModel"
            required>
          <div class="invalid-feedback">
            Name is required
          </div>
        </div>
      </div>
    </div>

    <div class="mb-2 col-lg-6">
      <div class="row">
        <label for="horseDateOfBirth" class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Date of Birth
        </label>
        <div class="col-md-10 col-lg-8">
          <input
            type="date"
            id="horseDateOfBirth"
            name="horseDateOfBirth"
            class="form-control"
            [class]="dynamicCssClassesForInput(horseDateOfBirthModel)"
            [(ngModel)]="horseBirthDateText"
            [disabled]="modeIsDetail"
            #horseDateOfBirthModel="ngModel"
            required>
          <div class="invalid-feedback">
            Date of birth is required
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="mb-2 col-lg-6">
      <div class="row">
        <label for="horseSex" class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Sex
        </label>
        <div class="col-md-10 col-lg-8">
          <select
            class="form-select"
            id="horseSex"
            name="horseSex"
            [(ngModel)]="horse.sex"
            [disabled]="modeIsDetail"
            required>
            <option value="FEMALE">Female</option>
            <option value="MALE">Male</option>
          </select>
        </div>
      </div>
    </div>

    <div class="mb-2 col-lg-6">
      <div class="row">
        <label for="horseOwner" class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Owner
        </label>
        <app-autocomplete
          id="horseOwner"
          name="horseOwner"
          class="col-md-10 col-lg-8"
          textInputClass="form-control"
          valueNeedsToMatchSuggestion="true"
          [(ngModel)]="horse.owner"
          [formatModel]="formatOwnerName"
          [suggestions]="ownerSuggestions"
          [disabled]="modeIsDetail">
        </app-autocomplete>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="mb-2 col-lg-6">
      <div class="row">
        <label for="horseMother" class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
          Mother Name
        </label>
        <div class="col-md-10 col-lg-8">
          <app-autocomplete
            id="horseMother"
            name="horseMother"
            textInputClass="form-control"
            valueNeedsToMatchSuggestion="true"
            [(ngModel)]="horse.mother"
            [suggestions]="motherSuggestions"
            [formatModel]="formatHorseName"
            [disabled]="modeIsDetail">
          </app-autocomplete>
        </div>
      </div>
    </div>

    <div class="mb-2 col-lg-6">
      <div class="row">
        <label for="horseFather" class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
         Father Name
        </label>
        <div class="col-md-10 col-lg-8">
          <app-autocomplete
            id="horseFather"
            name="horseFather"
            textInputClass="form-control"
            valueNeedsToMatchSuggestion="true"
            [(ngModel)]="horse.father"
            [suggestions]="fatherSuggestions"
            [formatModel]="formatHorseName"
            [disabled]="modeIsDetail">
          </app-autocomplete>
        </div>
      </div>
    </div>
  </div>


  <div class="row mb-2">
    <label for="horseDescription" class="col-form-label text-md-end text-muted col-md-2">
      Description
    </label>
    <div class="col-md-10">
        <textarea
          class="form-control"
          id="horseDescription"
          name="horseDescription"
          [(ngModel)]="horse.description"
          [disabled]="modeIsDetail">
        </textarea>
    </div>
  </div>

  <div class="mb-2 col-lg-6">
    <div class="row">
      <label for="horseImage" class="col-form-label text-md-end text-muted col-md-2 col-lg-4">
        Image
      </label>
      <div class="col-md-10 col-lg-8">
        <input type="file" id="horseImage" name="horseImage" class="form-control" (change)="onFileSelected($event)">
      </div>
    </div>
  </div>

  <div class="mt-4 d-flex flex-row">
    <a
      *ngIf="modeIsDetail"
      class="btn btn-warning me-2"
      [routerLink]="['/horses/edit', horse.id]"
      aria-label="Edit horse">
      <i class="bi bi-pencil"></i> Edit
    </a>

    <button
      *ngIf="modeIsDetail"
      class="btn btn-danger"
      (click)="horseForDeletion = horse"
      data-bs-toggle="modal"
      data-bs-target="#delete-dialog"
      aria-label="Delete horse">
      <i class="bi bi-trash"></i> Delete
    </button>

    <div class="ms-auto d-flex align-items-center">
      <input
        type="number"
        #maxInput
        min="1"
        class="form-control me-2"
        placeholder="Generations"
        style="width: 150px;"
      >
      <button
        type="button"
        class="btn btn-info"
        (click)="goToPedigree(maxInput.value)"
      >
        View Pedigree
      </button>
    </div>

  </div>

  <app-confirm-delete-dialog
    id="delete-dialog"
    [hidden]="!horseForDeletion"
    [deleteWhat]="horseForDeletion?.name"
    (confirm)="deleteHorse(horseForDeletion)">
  </app-confirm-delete-dialog>


  <div class="mt-4 d-flex flex-row">
    <button
      *ngIf="!modeIsDetail"
      class="btn btn-primary"
      [disabled]="!form.valid"
      type="submit">
      {{ submitButtonText }}
    </button>
  </div>
</form>


